@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
*,
*::after,
*::before {
  box-sizing: border-box;
}

#body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  height: 100vh;
  background-color: #333233;
  transition: background-color 2s;
}

#quote-box {
  justify-content: center;
  align-items: center;
  width: 550px;
  border-radius: 3px;
  padding: 40px 50px 40px 50px;
  background-color: white;
}

#button-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
